/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/* Light mode */
html[data-theme='light'] .heroBanner {
  background-image: url('/static/img/hero-bg-light.svg');
}

/* Dark mode */
html[data-theme='dark'] .heroBanner {
  background-image: url('/static/img/hero-bg-dark.svg');
}

.heroBanner {
  padding-top: 10rem;   
  padding-bottom: 5rem; 
  padding-left: 0;
  padding-right: 0;
  position: relative;
  overflow: hidden;
  margin-bottom: 3rem;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
    margin-bottom: 1rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}